<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>54542330377-hk118v1dp6rv7edahsoasq5eel0gfm6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54542330377-hk118v1dp6rv7edahsoasq5eel0gfm6d</string>
	<key>API_KEY</key>
	<string>AIzaSyCucK4Ma8dctFvULvRNtNnipFFjjMP4UEI</string>
	<key>GCM_SENDER_ID</key>
	<string>54542330377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incomm.wl-pih</string>
	<key>PROJECT_ID</key>
	<string>vanilladirect-pih-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>vanilladirect-pih-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54542330377:ios:bbf9d16cf51a1856</string>
	<key>DATABASE_URL</key>
	<string>https://vanilladirect-pih-qa.firebaseio.com</string>
</dict>
</plist>